target/META-INF/mule-src/dbapi/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
    http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="getAccountsDBSF" doc:id="dcdc070c-9c4c-402f-adaf-e5d7573f5d60">
		<db:select doc:name="Select Accounts from DB" doc:id="6ee0b54c-b62b-4d5d-b5e5-cd9d9776d7d2"
			config-ref="Database_Config">
			<db:sql><![CDATA[SELECT *
FROM Account  
WHERE LastModifiedDate > :lastUpdate
ORDER BY LastModifiedDate ASC]]></db:sql>
			<db:input-parameters><![CDATA[#[{lastUpdate : attributes.queryParams.lastUpdate }]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="2b09396f-dd26-4b0c-b487-0c9228105f94" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>

	
</flow>
	<flow name="insertFlow" doc:id="9c5c2f5b-5bed-4c5e-a1f0-0ef03a23bab6" >
						<ee:transform doc:name="Transform Message" doc:id="120606f5-7793-44f9-8228-4a2439cf3e64" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:insert doc:name="Insert" doc:id="b5c90cd8-7730-411d-93b0-3584be07de17" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO Account (AccountNumber,AccountSource,AnnualRevenue,BillingCity,BillingCountry,BillingPostalCode,
BillingState,BillingStreet,Description,Fax,Industry,LastModifiedDate,Name,NumberOfEmployees,OwnerId,Ownership,
ParentId,Phone,Rating,ShippingCity,ShippingCountry,ShippingPostalCode,ShippingState,ShippingStreet,Sic,SicDesc,
Site,TickerSymbol,Type,Website,SalesforceId,LastModifiedById)
VALUES (
:AccountNumber,:AccountSource,:AnnualRevenue,:BillingCity,:BillingCountry,:BillingPostalCode,
:BillingState,:BillingStreet,:Description,:Fax,:Industry,CURRENT_TIMESTAMP(),:Name,:NumberOfEmployees,:OwnerId,:Ownership,
:ParentId,:Phone,:Rating,:ShippingCity,:ShippingCountry,:ShippingPostalCode,:ShippingState,:ShippingStreet,:Sic,:SicDesc,
:Site,:TickerSymbol,:Type,:Website,:Id,:LastModifiedById
)]]></db:sql>
			<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
		</db:insert>
	
	
</flow>
	<flow name="updateFlow" doc:id="852d4dce-b08f-4141-bfc3-cbc7e8349317" >
	<ee:transform doc:name="Transform Message" doc:id="4c0ebc49-391e-490a-af3a-3653b4f22c85" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:update doc:name="Update" doc:id="de0bafda-65fd-4db4-b606-92865e332d02" config-ref="Database_Config">
			<db:sql ><![CDATA[UPDATE account SET
    BillingPostalCode =:BillingPostalCode,
	Name=:Name,
	LastModifiedDate= CURRENT_TIMESTAMP() ,
	Type=:Type,
	AccountNumber=:AccountNumber,
	AccountSource=:AccountSource,
	AnnualRevenue=:AnnualRevenue,
	
	BillingCity=:BillingCity,
	BillingCountry=:BillingCountry,
	BillingState=:BillingState,
	BillingStreet=:BillingStreet,
	Description=:Description,
	Fax=:Fax,
	Industry=:Industry,
	NumberOfEmployees=:NumberOfEmployees,
	OwnerId=:OwnerId,
	Ownership=:Ownership,
	ParentId=:ParentId,
	Phone=:Phone,
	Rating=:Rating,
	ShippingCity=:ShippingCity,
	ShippingCountry=:ShippingCountry,
	ShippingPostalCode=:ShippingPostalCode,
	ShippingState=:ShippingState,
	ShippingStreet=:ShippingStreet,
	Sic=:Sic,
	SicDesc=:SicDesc,
	Site=:Site,
	TickerSymbol=:TickerSymbol,
	Website=:Website,
  SalesforceId=:Id,
	LastModifiedById=:LastModifiedById

WHERE Id = :ExtId__c]]></db:sql>
			<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="7ef70747-3dcf-485a-812d-4fe6ee246466" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	
</flow>
</mule>
